* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


body{
    background-color: #FBF9F9;
}


/* setup */


.flex{
    display: flex;
    justify-content: center;
    
}

/* FONT */

h1{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}
 
h4{
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    font-weight: 200;
}


/* BARRE NAV */

header{
    background-color: #F5EAE0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 61px;
}


nav{
    display: flex;
   
  
}


.h1{
    margin-left: 30px;
    margin-right: 90px;
    padding: 13px;
    z-index: 1;
   min-height: 61px;
   position: fixed;
 
}

.cat1{
    margin-left: 20vw;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 564px;
    
    
}

.cat2{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 22vw;
     margin-left: 210px;
}

/* BURGER */

.burger{
    top: 0;
    left: 0;
    padding: 20px;
 display: none;
}


.burger span{
    background: white;
    height: 3px;
    width: 13px;
    display: none;
}



/* <!-- LES 3 PHOTOS --> */

.s1{
    padding-top: 120px;
    gap: 90px;
    width:  100%;
    padding-bottom: 50px;
}

.container1{
    margin-left: 71px;
    flex-direction: column;
    width: 145px;
    height: 642px;
    justify-content: space-between;
    gap: 18px;
}



/* PHOTO PPALE */

.container2{ 

    width: 487px;
    height: 642px;  
}

.imagereverse{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}

/* <!-- PARTIE DESCRIPTION --> */

.s2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    margin-right: 71px;
    
    
}

.titre2{
  
    gap: 142px;
    display: flex;
    justify-content: space-between;
}

h2{
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}


/* COULEURS */

.couleurs2{
    margin-top: 15px;  
}



p{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;

}

#ref{
    font-family: Barlow;
    font-weight: 100;
}
/* TAILLE */

.taille{
    border: 2px solid black;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

#fleche{
    padding-right: 20px;
    padding-top: 4px;
}

#choisir{
    padding-left: 10px;
    
}

/* PANIER  */

.panier{
    display: flex;
   gap: 25px;
}

#ajouter{
   
    width: 179.44px;
    padding-top: 7px;
    text-align: center;
    background-color: black;
}

#whitefont{
    color: white;
    font-family: 'Catamaran';
}

#coeur{
    border: 2px solid black;
    padding: 7px;
}

/* DESC ET COMPO  */


h5{
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 50px;
   color: black;
}


/* FOOTER */



/* FONT footer  */

h3{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
}



footer{
    background-color: #F5EAE0;
    font-size: 19px;
    height: 501px;
    
}


.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.foot h5{
    font-family: Catamaran;
    font-weight: 100;
   
}


.news{
   
    display: flex;
    flex-direction: column;
    margin-top: 61px;
    gap: 5px;
}


.reseaux{
   
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 61px;
    gap: 5px;
    
}

#mail{
    border-bottom: 1px solid black;
    padding-right: 100px;
    margin-bottom: 53px;
    
}

.aide{
    
    display: flex;
    flex-direction: column;
    margin-top: 61px;
    gap: 5px;
}


/* FORMULAIRE */


form{
    gap: 20px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

form>*{
    width: 288px;
    height: 23px;
    background: #FDFBFA;
    border: none;
 
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 7px;
}

.text{
    padding: 15px 20px;
}

.message{
    height: 150px;
    padding: 15px ;
}

textarea{
    height: 188px;
}

/* bouton */

form>*:last-child{
    width: 130px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: black;
    border: 1px  solid black;
    margin-top: 15px;
    
}



.button:hover {
background-color: #FDFBF3;
}

.form{
  
    padding-top: 62px;
    display: flex;
    flex-direction: column;
   
}

.picto{
    display: none;
}


/* REPSONSIVE */

@media (max-width: 900px){


    .s1{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
       padding-top: 130px;
    }

    /* LE HEADER */

    .h1{
        font-size: clamp(30px, 10vw,18px);
        margin: 0px;
        padding: 10px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

  

    /* BURGER */

    .burger, h1{
        z-index: 1;
    }

    .burger{
        display: block;
    }

    .burger span{
       
        display: flex;
        cursor: pointer;
        height: 2px;
        width: 30px;
        background: rgb(58, 56, 56);
        margin: 6px 0;
        display: block;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #F5EAE0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        transform: translateX(100%);
        transition: .7s;
        
        
    }

    .nav-open{
        transform: translateX(0);
        
    }


    .cat1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 50px;
       
    }

    .cat2{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        width: 100%;
        gap: 50px;
       
    }
    
    /* LES PHOTOS */

    .imagereverse{
        display: flex;
        flex-direction: column-reverse;
       
    }


    .container1{
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        height: 190px;
    
    }

    .container2{
       
        gap: 0;
    }
    

    /* FONT DESCRIPTION  */

    h5, h4, p{
        font-size: clamp(19px, 10vw,16px);
     
    }

    /* DESCRPTION  */

  .s2{
      width: 450px;
      margin-left: 60px;
      margin-bottom: 50px;
    }


  /* FOOTER */

  footer{
      width: 100%;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      height: 280px;
      
    }

  .picto{
      display: block;
      padding-top: 14px;
      display: flex;
      justify-content: space-between;
    }

  #mail{
        padding-right: 30px;
        margin-bottom: 0;
    }

 .reseaux{
    display: none;
    }

 form{
    display: none;
    }

 h5{
     font-size: 15px;
    }

.aide{
 display: flex;
 justify-content: space-around;
}

.cat1, .cat2, h1{
    margin: 0;
    padding: 0;
   
}

}
