* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    font-weight: 400; 
    background: #F5EAE0;
}
.PP {
    /* border: 4px solid black; */
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: space-between;
}
.panier {
    /* border: 4px solid red; */
    width: 40%; 
    padding: 0 40px;  
}
.paiement {
    /* border: 4px solid blue; */
    width: 60%; 
    background: #FDFBFA; 
    padding: 30px; 
}
h5 {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
.ligne {
    display: flex;
    justify-content: space-between;
}
.facture, .ref {
    /* border: 2px solid green; */
    padding: 20px;
}  
.code {
    margin-left: 20px;
} 
#pt{
    text-decoration: underline;
} 
hr {
    margin: 40px auto;
}
.ref {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.reftxt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
    margin: 20px;
    width: 500px;
    /* border: 2px solid red;  */
    font-size: 16px;
    line-height: 20px;
    gap: 30px;
}
.smallbox {
    /* border: 2px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: space-between ;
}
form {
    padding: 5px;
    margin-left: 20px;
}
#pt {
    font-size: 14px;
}
input {
    border: 2px solid lightgrey ;
    background-color: #FDFBFA;
    /* margin: 0 O 10px 10px;  */
    margin: 5px;
}
button {
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}
button:hover {
    background-color: #FDFBF4;
}
/* Paiement */

h6 {
    /* margin: 5px 10px 10px; */
    padding: 10px 40px 20px;
    font-size: 20px;
    font-weight: 500;
}
.cartes {
    margin-left: 50px;
}
.paye {
    margin: 30px 30px;
    width: 100%;
}
.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    /* border : 2px solid red; */
    padding: 20px;
}
.CB {
    display: flex;
    justify-content: space-around;
}
/* Media Queries */
@media (max-width: 1200px){
    .CB {
        flex-direction: column;
        width: 70%;
    }
    .formpaye {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .smallbox {
        flex-direction: column;
    }
}
@media (max-width:900px){
    .PP {
        flex-direction : column;
    }
    .panier{
        width: 100%;
    }
    .paiement{
        width: 100%;
    }
    
}
