
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif, 'Catamaran', sans-serif;
}

/* HEADER DE THUSIKA */

nav{
    display: flex;
    height: 61px;
    justify-content: space-between;
    background-color: #F2ECE7;
    width: 100%;
    position: fixed;
   
}

.h1{
    margin-left: 53px;
    padding: 13px;
}

.cat1{

    display: flex;
    margin-right: 300px;
    padding: 20px;
    gap: 120px;
}

.cat2{
    margin-right: 21px;
    gap: 44px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}


/******* PAGES VETEMENTS 1 - VANUSA *******/

.section1 { 
    display: flex;
    height: 784px;
    justify-content: space-between;
}
/* 
.tshirt {
 
  left: 46px;
  top: 70px;
  padding: 70px 0 20px 46px;
 
} */
/* 
.basket {
  width: 441px;
  height: 556px;
  padding: 152px 116px 76px 0;
} */





  /* MEDIA QUERIES - PAGE VETEMENTS - 900px */

  /* @media (max-width: 900px) { 

    .containerMenu {
        position: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
}  */